VITE_API_URL=http://localhost:3000/api
VITE_APP_NAME="TransParas"
VITE_CONTRACT_ADDRESS_AMOY=0xBE4FF6a8A141d05827Fb7581B03e30fe01257f62
VITE_CONTRACT_ADDRESS_LOCAL=0x...

# Pinata JWT Token untuk upload gambar ke IPFS
VITE_PINATA_JWT=""
