NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://postgres:root@localhost:5433/transparas?schema=public"
JWT_SECRET=rahasia
JWT_REFRESH_SECRET=rahasia-refresh
FRONTEND_URL=http://localhost:5173

# Jika ingin menggunakan Cloudinary untuk upload foto profil
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# API Groq (Opsional untuk fitur AI Analytics)
GROQ_API_KEY=""
